.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  h1 {
      text-align: center;
      text-decoration: underline;
  }


input.bigcheckbox {
    vertical-align:middle;
    justify-content: center;
    width:40px;
    height:40px;
    color: green;
}