.Footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(226, 226, 226);
    color:black;
    bottom: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
    position: relative;
  }
